* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

header {
  height: 1.33333rem;
  background-color: #000;
}

footer {
  height: 1.33333rem;
  padding-top: 0.13333rem;
  box-sizing: border-box;
  border-top: 1px solid #CCC;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

footer > div {
  flex: 1;
  position: relative;
}

footer > div > div span {
  font-size: 0.32rem;
}

footer > div > div img {
  display: block;
  width: 0.66667rem;
  margin: 0 auto;
}

footer > div > div img:last-child {
  display: none;
}

footer > div #shopcar-num-tip {
  display: none;
  position: absolute;
  right: 0.37333rem;
  top: -0.05333rem;
  min-width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  border: 1px solid #FFF;
  border-radius: 100%;
  background-color: #FF4891;
  text-align: center;
  color: #FFF;
}

footer > div .active img {
  display: none;
}

footer > div .active img:last-child {
  display: block;
}

section {
  flex: 1;
  display: flex;
  overflow: hidden;
}

section .r-content {
  display: flex;
  flex-direction: column;
}

section .r-content .content-list {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.l-menu {
  flex: 1;
  background-color: #F8F8F8;
}

.l-menu .menus {
  position: relative;
  height: 100%;
}

.l-menu .menus > div:first-child {
  min-height: 100.1%;
}

.l-menu .menus .bscroll-vertical-scrollbar {
  width: 5px !important;
}

.l-menu .menus ul {
  line-height: 0.96rem;
  font-size: 0.37333rem;
  text-align: center;
}

.l-menu .menus ul .current {
  position: relative;
  background-color: #FFF;
  color: #474245;
}

.l-menu .menus ul .current:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.10667rem;
  height: 0.4rem;
  background-color: #FF4891;
}

.r-content {
  flex: 4;
}

.r-content .menu-tab {
  display: flex;
}

.r-content .menu-tab .menu-con {
  flex: 5;
  position: relative;
  height: 0.96rem;
  line-height: 0.96rem;
  overflow: hidden;
}

.r-content .menu-tab .menu-con > div:first-child {
  position: absolute;
}

.r-content .menu-tab .menu-con > div:first-child ul {
  display: flex;
}

.r-content .menu-tab .menu-con > div:first-child ul li {
  min-width: 1.73333rem;
  flex-shrink: 0;
  text-align: center;
  font-size: 0.32rem;
}

.r-content .menu-tab .menu-con > div:first-child ul .current {
  color: #FF4891;
}

.r-content .menu-tab .menu-con .bscroll-horizontal-scrollbar {
  height: 5px !important;
}

.r-content .menu-tab .tab-con {
  flex: 1;
}

.r-content .content-list {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

.r-content .content-list .class-item .item-title {
  padding-left: 0.2rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  font-size: 0.32rem;
  color: #969696;
  border-bottom: 1px solid #ccc;
}

.r-content .content-list .class-item .product-list > dl {
  padding: 0.46667rem 0;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.r-content .content-list .class-item .product-list > dl dt {
  width: 2.53333rem;
  height: 2.53333rem;
}

.r-content .content-list .class-item .product-list > dl dt img {
  display: block;
  width: 100%;
}

.r-content .content-list .class-item .product-list > dl dd {
  position: relative;
  padding-left: 0.48rem;
  flex: 1;
}

.r-content .content-list .class-item .product-list > dl dd .procuct-title {
  font-size: 0.37333rem;
  line-height: 0.37333rem;
  width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.r-content .content-list .class-item .product-list > dl dd .procuct-subtitle {
  font-size: 0.32rem;
  line-height: 0.32rem;
  margin-top: 0.2rem;
  margin-bottom: 0.29333rem;
  color: #969696;
}

.r-content .content-list .class-item .product-list > dl dd .price-area .sub-price {
  margin-bottom: 0.13333rem;
  color: #FF4891;
  font-size: 0.26667rem;
  font-weight: bold;
}

.r-content .content-list .class-item .product-list > dl dd .price-area .main-price {
  color: #969696;
  font-weight: bold;
  font-size: 0.34667rem;
}

.r-content .content-list .class-item .product-list > dl dd .product-ctrl {
  position: absolute;
  right: 0.26667rem;
  bottom: 0.26667rem;
  width: 1.6rem;
  height: 0.53333rem;
}

.r-content .content-list .class-item .product-list > dl dd .product-ctrl .com-btn {
  width: 0.53333rem;
  height: 0.53333rem;
}

.r-content .content-list .class-item .product-list > dl dd .product-ctrl .com-btn img {
  width: 100%;
  display: block;
}

.r-content .content-list .class-item .product-list > dl dd .product-ctrl .product-num {
  line-height: 0.53333rem;
  padding: 0 0.26667rem;
  font-size: 0.34667rem;
}

.r-content .content-list .class-item .product-list > dl dd .product-ctrl .num-con {
  display: flex;
  display: none;
}

.r-content .content-list .class-item .product-list > dl dd .product-ctrl .show-num {
  display: flex;
}

.r-content .content-list .class-item .product-list > dl dd .product-ctrl .hide-btn {
  display: none;
}

.r-content .content-list .class-item .product-list > dl dd .product-ctrl .main-car {
  position: absolute;
  right: 0;
  bottom: 0;
}
